/IP2ProxyComponent/bin/Debug
/IP2ProxyComponent/obj/Debug
/TestIP2ProxyComponentCSharp/obj/Debug
/TestIP2ProxyComponentCSharp/bin/Debug
/TestIP2ProxyComponentVB/obj/Debug
/TestIP2ProxyComponentVB/bin/Debug
